.back-to-top {
  right: 60px;
  width: 70px;
  height: 900px;
  top: -900px;
  bottom: unset;
  transition: all 0.5s ease-in-out;
  background: url("../img/scroll.png");
}
.back-to-top > i {
  display: none;
}
.back-to-top.back-to-top-on {
  bottom: unset;
  top: calc(100vh - 900px - 200px);
}
